<!DOCTYPE html>
<html lang="<$= locale $>">
<head>
  <title><$= __("page-title-pi") $></title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="_demo--banner">
    <div class="_demo--container">
      <div class="banner--service-icon-container">
        <img class="banner--service-icon" src="https://trello-attachments.s3.amazonaws.com/57e57ab22bbece573fd745f8/598c50df2c66063782bae614/f371d571006f846859bfbf6863f40794/WhatsApp_Image_2017-08-20_at_7.09.02_AM.jpeg" alt="More2me">
      </div>
      <div class="banner--service-info">
        <h1 class="banner--service-title base--h1">
          <img class="banner--service-icon_INLINE" src="images/service-icon.svg" alt="Personality Insights API Icon"> <$= __("header-title-pi") $>
        </h1>
        <div class="banner--service-description">
          <$= __("header-description") $>
        </div>
      </div>
    </div>
  </div>
