<!DOCTYPE html>
<html lang="<$= locale $>">
<head>
  <title><$= __("page-title-pi") $></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="ct" content="<$= ct $>">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
  <!-- top level heading -->
  <header class="_demo--heading">
    <div class="_demo--container">
      <a class="wordmark" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/">
        <span class="wordmark--left"><$= __("header-ibm") $></span>
        <span class="wordmark--right"><$= __("header-wdc") $></span>
      </a>
      <nav class="heading-nav" role="menubar">
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html" role="menuitem">
          <$= __("header-services") $>
        </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" role="menuitem">
          <$= __("header-docs") $>
        </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/starter-kits.html" role="menuitem">
          <$= __("header-appgallery") $>
        </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://developer.ibm.com/watson/" role="menuitem">
          <$= __("header-community") $>
        </a>
        </li>
      </nav>
    </div>
  </header>


  <div class="_demo--banner">
    <div class="_demo--container">
      <div class="banner--service-icon-container">
        <img class="banner--service-icon" src="images/service-icon.svg" alt="Personality Insights API Icon">
      </div>
      <div class="banner--service-info">
        <h1 class="banner--service-title base--h1">
          <img class="banner--service-icon_INLINE" src="images/service-icon.svg" alt="Personality Insights API Icon"> <$= __("header-title-pi") $>
        </h1>
        <div class="banner--service-description">
          <$= __("header-description") $>
        </div>
        <div class="banner--service-resource">
          <span class="icon icon-link"></span>
          <strong><$= __("header-resources") $></strong>
        </div>
        <div class="banner--service-links">
          <li class="base--li banner--service-link-item">
            <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/personality-insights/api/v2/" class="base--a"><$= __("header-apiref") $></a>
          </li>
          <li class="base--li banner--service-link-item">
            <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/personality-insights/" class="base--a"><$= __("header-documentation") $></a>
          </li>
          <li class="base--li banner--service-link-item">
            <a href="https://github.com/watson-developer-cloud/personality-insights-nodejs" class="base--a"><$= __("header-fork") $></a>
          </li>
          <li class="base--li banner--service-link-item">
            <a href="https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/personality-insights-nodejs" class="base--a"><$= __("header-forkdeploy") $></a>
          </li>
        </div>
      </div>
    </div>
  </div>
