<!DOCTYPE html>
<html lang="<$= locale $>">
<head>
  <title><$= __("page-title-pi") $></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:title" content="IBM Watson Personality Insights">
  <meta name="og:description" content="Gain insight into how and why people think, act, and feel the way they do. This service applies linguistic analytics and personality theory to infer attributes from a person's unstructured text.">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- top level heading -->
  <header class="_demo--heading">
    <div class="_demo--container">
      <a class="wordmark" href="http://www.ibm.com/watson/developer/">
        <span class="wordmark--left"><$= __("header-ibm") $></span>
        <span class="wordmark--right"><$= __("header-wdc") $></span>
      </a>
      <nav class="heading-nav" role="menubar">
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://www.ibm.com/watson/products-services/" role="menuitem">
          <$= __("header-services") $>
        </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://www.ibm.com/watson/developercloud/doc/index.html" role="menuitem">
          <$= __("header-docs") $>
        </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.ibm.com/watson/developercloud/starter-kits.html" role="menuitem">
          <$= __("header-starterkit") $>
        </a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://developer.ibm.com/watson/" role="menuitem">
          <$= __("header-community") $>
        </a>
        </li>
      </nav>
    </div>
  </header>
  <div class="_demo--banner">
    <div class="_demo--container">
      <div class="banner--service-icon-container">
        <img class="banner--service-icon" src="images/service-icon.svg" alt="Personality Insights API Icon">
      </div>
      <div class="banner--service-info">
        <h1 class="banner--service-title base--h1">
          <img class="banner--service-icon_INLINE" src="images/service-icon.svg" alt="Personality Insights API Icon"> <$= __("header-title-pi") $>
        </h1>
        <div class="banner--service-description">
          <$= __("header-description") $>
        </div>
        <div class="banner--service-resource">
          <span class="icon icon-link"></span>
          <strong><$= __("header-resources") $></strong>
        </div>
        <div class="banner--service-links">
          <li class="base--li banner--service-link-item">
            <a href="http://www.ibm.com/watson/developercloud/personality-insights/api/" class="base--a"><$= __("header-apiref") $></a>
          </li>
          <li class="base--li banner--service-link-item">
            <a href="https://console.bluemix.net/docs/services/personality-insights/getting-started.html" class="base--a"><$= __("header-documentation") $></a>
          </li>
          <li class="base--li banner--service-link-item">
            <a href="https://github.com/watson-developer-cloud/personality-insights-nodejs" class="base--a"><$= __("header-fork") $></a>
          </li>
          <li class="base--li banner--service-link-item">
            <a href="https://console.bluemix.net/registration/?target=/catalog/services/personality-insights/" class="base--button base--button_fill"><$= __("header-bluemix") $></a>
          </li>
        </div>
      </div>
    </div>
  </div>
