//- layout.jade
doctype html
html(lang=i18n.lng())
  head
    block title
      title= t('application.title')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
    link(rel='stylesheet', href='/css/banner.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    include banner.jade

    block row-content

    script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/js/d3.v2.min.js')
    script(type='text/javascript', src='/js/demo.js')
    script(type='text/javascript', src='/js/personality.js')
    script(type='text/javascript', src='/js/string-utils.js')
    script(type='text/javascript', src='/js/i18n.js')
    script(type='text/javascript', src='/js/textsummary.js')
    script.
        textSummary.init('json');
