<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
    <title>Personality Insights Sunburst Chart</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js"></script>
<h3 class="display-4">Personality Insights - Sunburst</h3>
    <script src="https://rawgit.com/ibm-silvergate/personality-sunburst-chart/master/bin/personality-sunburst-chart.standalone.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />

    <style>
      #profile pre {
        max-height: 400px;
      }

      #textSummary {
        font-size: 1.2em;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="row">
<!-- <div class="col-sm-6 col-xs-12">
<h2>Personality Profile Sunburst</h2>
<div id="profile" class="col-xs-12 col-sm-6 col-lg-8"></div>
</div>-->
        <div class="col-xs-12 col-sm-6 col-lg-8">
          <div id="sunburstChart"></div>
        </div>
      </div>
      </div>
    </div>

    <script>
var profile = <$- profile $>; 
        $('#profile').append('<pre>' + profile + '</pre>');

        var chart = new PersonalitySunburstChart('sunburstChart');
        chart.show(profile);


    </script>

  </body>
</html>
