<$ include partials/header $>
  <div class="_demo--container">
    <div class="_content input">
      <h2 class="base--h2">
        <$= __("sunburst-title") $>
      </h2>

      <div id="sunburstChart"></div>

      <p class="base--p">
        <a class="base--a" href='/'>
           &lt; <$= __("sunburst-back") $>
        </a>
      </p>

    </div>
  </div>

  <script src="/js/vendors/jquery-2.2.0.min.js"></script>
  <script src="/js/vendors/d3.min.js"></script>
  <script src="/js/components/personality-sunburst-chart.standalone.min.js"></script>

  <script>
    var profile = <$- sunburst.profile $>;
    var imageUrl = <$- JSON.stringify(typeof sunburst.image === 'undefined' || sunburst.image === 'undefined' ? '/images/service-icon.png' : sunburst.image) $>;
    var chart = new PersonalitySunburstChart('sunburstChart');
    chart.show(profile, imageUrl);
  </script>

<$ include partials/footer $>
