<$ include partials/header $>

  <div class="_demo--container">
    <div class="_content terms-of-use">
      <h2 class="base--h2">
        <$= __("terms-title") $>
      </h2>

      <p class="base--p">
        <$= __("terms-1") $>
      </p>

      <p class="base--p">
        <$= __("terms-2") $>
      </p>

      <p class="base--p">
        <$= __("terms-3") $>
      </p>

      <p class="base--p">
        <$= __("terms-4") $> <b><u><$= __("terms-5") $></u>.</b>
      </p>

      <p class="base--p">
        <$= __("terms-6") $> <a class="base--a" href='<$= __("terms-link-privacy") $>' target='_blank', onclick="trackOutboundLink('<$= __("terms-link-privacy") $>'); return false;"> <$= __("terms-7") $></a>.
      </p>

      <p class="base--p">
        <$= __("terms-8") $>
      </p>

      <p class="base--p">
        <$= __("terms-9") $>
      </p>

      <p class="base--p">
        <$= __("terms-10") $>
      </p>

      <p class="base--p">
        <$= __("terms-11") $>
      </p>

      <p class="base--p">
        <$= __("terms-12") $>
        <a class="base--a" href='<$= __("terms-link") $>' target='_blank',
           onclick="trackOutboundLink('http://www.ibm.com/legal/us/en/dmca.html'); return false;">
           <$= __("terms-link") $></a>.
      </p>

      <p class="base--p">
        <$= __("terms-13") $>
      </p>

      <p class="base--p">
        <$= __("terms-14") $>
      </p>

      <p class="base--p">
        <$= __("terms-15") $>
      </p>

      <p class="base--p">
        <a class="base--a" href='/'>
           &lt; <$= __("terms-back") $>
        </a>
      </p>
    </div>
  </div>
<$ include partials/footer $>
