.tooltip.in {
  background: rgb(50, 50, 50) none repeat scroll 0% 0%;
  color: #F7F7F7;
  padding: 8px;
  max-width: 400px;
  margin: 30px;
}

.btn {
  height: 2.5em;
  padding: 0em;
  margin-bottom: 0em;
}
.btn-block {
  margin-bottom: 0em;
}
.content {
  margin-bottom: 0px;
}

.wordsCount {
  padding-bottom: 5px;
}

.model_title {
    font-weight: bold;
    padding-left: 0px;
    padding-top: 5px;
}

.model_trait {
    padding-left: 10px;
}

.model_name {
    background-color: #ccc;
    margin-top: 10px;
}

.theader {
    background-color: #bbb;
    font-weight: bold;
    padding-left: 0px;
    padding-bottom: 5px;
}
.col555px {
    height: 555px;
    overflow: auto;
}

.errorMsg {
    font-weight: bold;
    color: red;
}

.results > .row {
  clear: left;
}

.control-label {
  font-weight: bold;
}

#vizcontainer svg {
  min-width: 480px;
  width: 100%;
  height: 100%;
}
.sample-radio-list {
  margin-bottom: 10px;
}
.sample-radio-container {
  display: inline-block;
  margin-left: 10px;
}
input[type="radio"] {
  margin:3px 5px 0px 0px;
}
.buttons-container {
  margin-top: 15px;
}
/* Portrait tablets and small desktops */
@media (max-width: 1200px) {
    .col555px {
        height: 100%;
    }
}
